@import "~bootstrap/scss/bootstrap";

:root {
  --bg-btn-open: #544200;
  --bg-btn-close: #002e72;
}

.bg-dark-blue {
  background: rgb(2 0 36);
  background: radial-gradient(circle, rgb(2 0 36 / 100%) 0%, rgb(2 3 68 / 100%) 82%, rgb(1 7 102 / 100%) 100%);
  background: radial-gradient(circle, rgb(2 0 36 / 100%) 0%, rgb(2 3 68 / 100%) 82%, rgb(1 7 102 / 100%) 100%);
  background: radial-gradient(circle, rgb(2 0 36 / 100%) 0%, rgb(2 3 68 / 100%) 82%, rgb(1 7 102 / 100%) 100%);
}

.bg-modal-open {
  background: var(--bg-btn-open);
}

.bg-modal-close {
  background: var(--bg-btn-close);
}

.shadow-dark-blue {
  box-shadow: 0 0.1rem 2rem rgb(2 0 36);
}

.shadow-warning {
  box-shadow: 0 0 0.5rem 2px #ffc10796;
}

.btn-shadow {
  box-shadow: inset rgb(0 0 0 / 60%) -2px -2px 8px, inset rgb(252 255 255 / 70%) 2px 2px 8px, rgb(0 0 0 / 80%) 2px 2px 8px -3px;
  outline: none;
}

.btn-shadow:disabled,
.btn-shadow:active {
  box-shadow: inset rgb(0 0 0 / 60%) -1px -1px 8px 0, inset rgb(252 255 255 / 70%) 1px 1px 6px, rgb(0 0 0 / 80%) 1px 1px 8px 0;
  opacity: 0.55;
}

.mt-1em {
  margin-top: 1em;
}

.mb-3em {
  margin-bottom: 3em;
}

.h1-textshadow {
  text-shadow: 2px 2px 4px rgb(147 117 0);
}

.btn-custom {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: var(--bs-border-width) solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-padding-main {
  padding: 0.375rem 3rem 0.375rem 1.5rem;
}

.btn-padding-modal {
  padding: 0.375rem 0.75rem;
}

.spinner-container {
  display: inline-block;
  width: 1.5rem;
}

.text-custom-warning {
  color: #c9a92b;
}

.text-custom-warning-pale {
  color: #625934;
}

a:active {
  color: --bs-secondary;
}

.modal-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background: var(--bs-primary-bg-subtle);
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  box-shadow: 0 0 0.5rem 2px rgb(126 121 104 / 59%);
  outline: 0;
}

/* element - property - notation - flags; */

.form-switch-label {
  cursor: pointer;
  width: 6em;
  padding: 0.2rem 1em;
  white-space: nowrap;
  overflow: hidden;
}

.btn-check:checked + .btn-custom,
:not(.btn-check) + .btn-custom:active,
.btn-custom:first-child:active,
.btn-custom.active,
.btn-custom.show {
  background-color: var(--bg-btn-close);
}

.transition-open {
  width: 15em;
  transition: all 0.7s;
}

.transition-close {
  transition: all 0.7s;
}

.top-custom-05em {
  top: 0.5em;
}

.right-custom-05em {
  right: 0.5em;
}

.test {
  transform: translateY(-50px);
}

footer {
  transition: all 2s;
}

.modal-body * {
  overflow: hidden;
}
