@import "~bootstrap/scss/bootstrap";


.bg-dark-blue {
  background: rgb(2,0,36);
  background: -moz-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,3,68,1) 82%, rgba(1,7,102,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,3,68,1) 82%, rgba(1,7,102,1) 100%);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,3,68,1) 82%, rgba(1,7,102,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#010766",GradientType=1);
}

.bg-modal-open {
  background: #544200;
}

.bg-modal-close {
  background: #002e72;
}

.shadow-dark-blue {
  box-shadow: 0 0.1rem 2rem rgb(2 0 36);
}

.shadow-warning {
  box-shadow: 0 0 0.5rem 2px #ffc10796;
}

.btn-shadow {
  box-shadow: inset rgb(0 0 0 / 60%) -2px -2px 8px, inset rgb(252 255 255 / 70%) 2px 2px 8px, rgb(0 0 0 / 80%) 2px 2px 8px -3px;
  outline: none;
}

.btn-shadow:disabled,
.btn-shadow:active {
  box-shadow: inset rgb(0 0 0 / 60%) -1px -1px 8px 0px, inset rgb(252 255 255 / 70%) 1px 1px 6px, rgb(0 0 0 / 80%) 1px 1px 8px 0px;
  opacity: 0.55;
}

.mt-1rem {
  margin-top: 1rem;
}

.h1-textshadow {
  text-shadow: 2px 2px 4px rgb(147 117 0);
}

.btn-custom {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: var(--bs-border-width )solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-padding-main {
  padding: 0.375rem 3rem 0.375rem 1.5rem;
}

.btn-padding-modal {
  padding: 0.375rem 0.75rem;
}

.spinner-container {
  display: inline-block;
  width: 1.5rem;
}

.text-custom-warning {
  color: #c9a92b;
}

a:active {
  color: --bs-secondary;
}


.modal-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    background: var(--bs-primary-bg-subtle);
    border-radius: var(--bs-modal-border-radius);
    box-shadow: 0 0 0.5rem 2px rgb(126 121 104 / 59%);
    outline: 0;
}

/* element - property - notation - flags; */